@page "/tickets/{TicketId}"
@layout Shared.MainLayout
@inject HttpClient Http
@using System.Text.Json

<div class="ticket-details">
    <h1>Your Ticket @TicketId</h1>

    @if (FromBase != null && ToBase != null)
    {
        <div class="route">
            <BaseImage Base="@FromBase" />

            <svg width="24" height="24" viewBox="0 0 24 24" class="arrow">
                <path d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z" />
            </svg>

            <BaseImage Base="@ToBase" />
        </div>
    }

    @if (Ticket != null)
    {
        <div class="details">
            <h2>Passenger: @Ticket.Passenger</h2>
            <h3>Date: @Ticket.Date.ToString("D")</h3>
            <h3>Price: @Ticket.Price.ToString("#,##0.00")</h3>
        </div>
    }
</div>

@code {
    [Parameter]
    public string? TicketId { get; set; }

    private Ticket? Ticket { get; set; }
    private Base? FromBase { get; set; }
    private Base? ToBase { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (TicketId == null)
        {
            throw new InvalidOperationException("Properties not initialized by DI. Configuration error?");
        }

        Ticket = await GetTicketAsync(TicketId);
        var fromBaseTask = GetBaseAsync(Ticket.From);
        var toBaseTask = GetBaseAsync(Ticket.To);
        await Task.WhenAll(fromBaseTask, toBaseTask);

        FromBase = fromBaseTask.Result;
        ToBase = toBaseTask.Result;
    }

    private async Task<Base> GetBaseAsync(string baseId)
    {
        var response = await Http.GetAsync($"http://localhost:5000/api/bases/{baseId}");
        var baseJson = await response.Content.ReadAsStringAsync();
        var foundBase = JsonSerializer.Deserialize<Base>(baseJson, new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true,
        })!;
        return foundBase;
    }

    private async Task<Ticket> GetTicketAsync(string ticketId)
    {
        var response = await Http.GetAsync($"http://localhost:5000/api/tickets/{ticketId}");
        var ticketJson = await response.Content.ReadAsStringAsync();
        var ticket = JsonSerializer.Deserialize<Ticket>(ticketJson, new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true,
        })!;
        return ticket;
    }
}
